@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Updock&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.updock-regular {
  font-family: "Updock", cursive;
}
/* 
shared styles */
.background-color {
  background-color: rgb(22, 20, 20);
}

.margin {
  margin: 150px 150px;
}

.margin-header {
  margin-top: 50px;
  margin-bottom: 50px;
}
.text-color{
  color: rgba(255, 255, 255, 0.65);
}

/* nav  styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}

.nav-title {
  color: rgba(230, 83, 60, 1);
  font-size: 1.5rem;
}

.list {
  display: flex;
  font-size: 18px;
  align-items: center;
}
nav li a {
  text-decoration: none;
  color: white;
}
.hamburger {
  display: none;
}

.special {
  background-color: rgba(230, 83, 60, 1);
  padding: 5px 20px;
  border-radius: 20px;
}

/* banner section starts */
.banner {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-contant {
  width: 50%;
}
.banner-title {
  font-size: 4rem;
  color: white;
}

.banner-description {
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
}

.buttons {
  margin-top: 30px;
  display: flex;
}

.btn-primary {
  padding: 15px 30px;
  background-color: rgba(230, 83, 60, 1);
  color: white;
  font-weight: 700;
  border-radius: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.btn-general {
  padding: 15px 30px;
  background-color: transparent;
  color: white;
  font-weight: 700;
  border-radius: 20px;
  border: 1px solid white;
  cursor: pointer;
}

.card-title {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 5px;
}

.card-description {
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.8rem;
}
.circle {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  margin-right: 10px;
}

.img-container {
  position: relative;
}

.card-1 {
  background-color: rgba(255, 255, 255, 0.3);
  width: 10%;
  padding: 10px;
  border-radius: 15px;
  position: absolute;
  top: 45%;
  right: 7%;
}

.card-2 {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  width: 10%;
  padding: 10px;
  border-radius: 15px;
  position: absolute;
  top: 80%;
  right: 27%;
}

/* habit section starts */
.habit-head{
 text-align: center;
}
.habit-title{
  color: white;
  font-size: 2rem;
  margin-bottom: 10px;
}
.habit-description{
  max-width: 750px;
  margin: auto;
  margin-bottom: 40px;
}
.habit-containers{
  display: flex;
 justify-content: space-between;
 gap: 20px;
}
.habit-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.habit-img{
  height: 40%;
  border-radius: 50%;
  margin-bottom: 10px;
 

}
.container-1{
  text-align: center;
}
.container-1-title{
  color: white;
  margin-bottom: 5px;
}

/*  run section starts */
.run-containers{
  display:flex ;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  background-color:  rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  margin-top: 50px;
}
.run-contents{
  width: 50%;
}
.run-image{
  width: 40%;
  border-radius: 20px;
}

.run-title{
  color: white;
  font-size: 1.8rem;
  max-width: 230px;
  margin-bottom: 15px;
}

.run-description{
  margin-bottom: 20px;
}


/* choose us  starts */
.choose-us-container {
  text-align: center;
}
.choose-cards {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.choose-us-title {
  color: white;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 30px;
}
.choose-us-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  max-width: 750px;
  margin: auto;
  margin-bottom: 40px;
}


.card {
  width: 45%;
  border-radius: 16px;
  padding: 30px;
}
.title {
  color:white;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 15px;
}
.description {
  color: rgba(255, 255, 255, 0.65);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 40px;
}
.community {
  margin: auto;
  margin-top: 30px;
  background-color: Salmon; 
}

.program {
  background-color:lightslategray;
}
.Guide {
  background-color: steelblue;
}

/* BMI calculator section starts */
.BMI-calculator{
 margin-top: 80px;
}
.BMI-calculator-contents{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.BMI-head{
  text-align: center;
}
.BMI-head-title{
  color: white;
  font-size: 2rem;
  margin-bottom: 10px;
}

.BMI-head-description{
  max-width: 750px;
  margin: auto;
}
.BMI-calculator-contents{
  background-color: rgba(186, 176, 176, 0.1);
  margin-top: 50px;
  padding:50px 150px;
}

.BMI-table{
  width: 50%;
}
.BMI-form{
  width: 50%;
}

.BMI-table-title{
  color: white;
  margin-bottom:30px;
  font-size: 2rem;
}

.BMI-calculator-table{
  border-collapse: collapse;
}

.BMI-calculator-table th,
.BMI-calculator-table td{
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding:10px 20px;
  text-align: center;
}
.BMI-calculator-table th{
  color: white;
}
.BMI-calculator-table td{
  color:rgba(255, 255, 255, 0.3) ;
}

.your-BMI-head{
  color: white;
  margin-bottom:15px;
  font-size: 2rem;
}

.your-BMI-description{
  max-width: 750px;
  margin: auto;
  margin-bottom: 30px;
}

.form-row-width-1{
  width: calc(50% - 3px);
  padding: 15px 10px;
  border-radius:10px ;
  margin-bottom: 10px;
  color:rgba(255, 255, 255, 0.3) ;
  background-color: rgba(186, 176, 176, 0.1);
  border: none;
}
.form-row-width-2{
  width:100%;
  padding:15px 10px;
  border-radius: 10px;
  background-color: rgba(186, 176, 176, 0.1);
  color: rgba(186, 176, 176, 0.4);
  border: none;
  margin-bottom: 30px;
}

/* Oue team section */
.our-team-header{
  text-align: center;
  margin-top: 70px;
}

.team-header-title{
  color: white;
  font-size: 2rem;
  margin-bottom: 10px;
}

.Team-header-description{
  max-width: 750px;
  margin: auto;
}
.team-img-content{
  position:relative;
 flex:0 0 calc(33.33% - 10px);
 max-width:  calc( 33.33% -10px);
}
.team-img-content img{
  border-radius: 20px;
  height: 250px;
  width: 360px;
  object-fit: cover;
  margin: 0; 
  padding: 0;
}
.team-image-about{
  position: absolute;
  top: 75%;
  left:5%;
}
.our-team-images{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  background-color: rgba(186, 176, 176, 0.1); 
  border-radius: 20px;
  padding: 40px;
}
.img-name{
  color: white;
  padding-bottom: 5px;
}

/* footer section starts */
.footer{
  background-color: rgba(186, 176, 176, 0.1); 
  padding-bottom: 20px;
}
.footer-section{
  margin-top: 70px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px 150px;
}

.footer-content-1{
 max-width: 40%;
}
.footer-content-header{
  color: rgba(230, 83, 60, 1);
  font-size: 2rem;
  padding-bottom: 15px;
}

ul{
  list-style-type:none;
  padding: 0;
}
li{
  margin:  5px 0;
}
a{
  text-decoration: none;
}
a:hover{
text-decoration: underline;
}
.content-2-title{
  color: white;
  padding-bottom: 3px;
}

hr{
 margin: 0 150px;
 color: rgba(255, 255, 255, 0.65);
}

.right{
  margin-top: 10px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  /* nav section stats */
  .margin {
    margin: 50px 70px;
  }
  .list {
    display: none;
  }

  .hamburger {
    display: block;
  }

  /* banner section starts */
  .banner {
    flex-direction: column;
  }
  .banner-contant {
    width: 100%;
  }
  .card-1,
  .card-2 {
    width: 30%;
    padding: 12px;
  }
  .card-1 {
    top: 130%; 
  }

  .card-2 {
    top: 150%; 
    right: 60%;
  }

  /* habit section starts */
  .habit-containers{
    flex-direction: column;
  }
  .container-1{
    margin-bottom: 30px;
  }
  .habit-description{
    max-width: 100%;
  }

  /* run section starts */
  .run-containers{
    flex-direction: column;
    padding: 0;
  }
  
  .run-contents{
    width: 100%;
    margin-bottom: 40px;
    padding: 20px;
  }
  .run-image{
    width: 100%;
  }

  /* choose us section */
  .choose-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }
  .card {
    width: 100%;
    padding: 30px 40px 30px 10px;
  }
  .community {
    width: 100%;
    text-align: center;
  }
  .description {
    margin: auto;
  }
}

  /* BMi calculator section starts */
  .BMI-calculator-contents{
    flex-direction: column;
    padding: 30px 100px;
  }
  .BMI-table{
    width: 100%;
    margin-bottom: 50px;
  }

  .BMI-form{
    width: 100%;
  }

  
.team-img-content img{
  height:200px ;
  width: 300px;
}
  .our-team-images{
    width: 100%;

  }

  /* footer section starts */
  .footer-section{
    flex-direction: column;
  }
  .footer-content-2{
    width: 100%;
    padding-bottom: 30px;
  }
 
  .footer-content-1{
   max-width: 100%;
   padding-bottom: 30px;
    
  }
  .footer-section{
    padding: 10px 70px;
  }

